<header>
  <h1>Completed</h1>

  <!-- options bar-->
  <nav class="navbar navbar-light bg-light">

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search-task" placeholder="Search task" aria-label="Search">
      <button type="button" class="btn" id="search-button">Search</button>
    </form>

  </nav>
</header>

<div class="container">

</div>
<link rel="stylesheet" href="/css/completed.css">
<script src="/javascript/completed.js"> </script>
