<header>
  <h1>Completed</h1>

  <!-- options bar-->
  <nav class="nav navbar-light bg-light">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control" id="search-input" placeholder="Search" placeholder="Search" aria-label="Search">
    </form>

    <div class="dropdown nav-dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="sort-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="sort-menu">
        <a class="dropdown-item dropdown-added active" href="#">Added date</a>
        <a class="dropdown-item dropdown-due" href="#">Due date</a>
        <a class="dropdown-item dropdown-priority" href="#">Priority</a>
        <a class="dropdown-item dropdown-category" href="#">Category</a>
      </div>
    </div>

    <!--Attachment Modal -->
    <div class="modal fade" id="attachment-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="attachment-header modal-header" id>
            <h5 class="modal-title" id="exampleModalLabel">Attachment</h5>
          </div>
          <div class="attachment-modal-body">
            <div class="attachment-info">
              <div class="attachment-name">
              </div>
              <button class="btn btn-danger attachment-delete-button">
                Delete
              </button>
            </div>

            <label class="my-file" for="my-file"></label>
            <input type="file" id="my-file" name="myfile">
            <button class="btn btn-primary attachment-upload-button">
              Upload
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close-file-modal-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>

<div class="container">

</div>
<script type="module" type="text/javascript" src="/javascript/Completed.js"> </script>
