<header>
  <h1>Tasks</h1>

  <!-- options bar-->
  <nav class="navbar navbar-light bg-light">

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search-task" placeholder="Search task" aria-label="Search">
      <button type="button" class="btn" id="search-button">Search</button>
    </form>

    <button type="button" class="btn btn-primary" id="add-task-button" data-toggle="modal" data-target="#task-modal">Add task</button>

    <!-- add task modal -->
    <div class="modal" tabindex="-1" role="dialog" id="task-modal">
      <div class="modal-dialog" role="document">

        <!-- content-->
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Task description</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <!-- task form-->
            <form action="http://localhost:8080/insert-task" method="POST">
              <div class="form-group" id="name-div">
                <label for="name">Name</label>
                <input type="text" id="name-input" name="name" class="form-control" placeholder="Task name">
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description-input" class="form-control" placeholder="Add description"></textarea>
              </div>

              <div class="form-group">
                <label for="category">Category</label>
                <input type="text" id="category-input" name="category" class="form-control" placeholder="Category name">
              </div>

              <div class="form-group">
                <label for="priority">Priority</label>
                <select class="form-control" id="select-input">
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
              </div>

              <div class="due-date">
                  <label for="date">Due date</label>
                  <input type="text" name="due-date" id= "date-input" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>

              <button class="btn btn-success btn-block" type="submit" id="submit-task-button" data-dismiss="modal" aria-label="Close" disabled>Add Task </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </nav>
</header>

<div class="container">

</div>

<link rel="stylesheet" href="/css/pending-tasks.css">
<script src="/javascript/pending-tasks.js"> </script>
