<header>
  <h1>Pending tasks</h1>

  <!-- options bar-->
  <nav class="navbar navbar-light bg-light">

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search-task" placeholder="Search task" aria-label="Search">
      <button type="button" class="btn btn-dark">Search</button>
    </form>

    <button type="button" class="btn btn-primary" id="add-task">Add task</button>
  </nav>

</header>
