.container-fluid {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

aside {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  flex-basis: 18%;
  height: 870px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}

.flex-column {
  width: 100%;
}

.active {
  background-color: rgb(135, 206, 250, 0.2);
  border-radius: 10px;
  margin: 0 10px;
}

.not-active:hover {
  background-color: rgb(211, 211, 211, 0.3);
  border-radius: 10px;
  margin: 0 10px;
}

.nav-item:hover > a{
  font-size: 18px;
}

a {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  color: #4169E1;
}

#logout-btn {
  width: 100%;
}

#logout-btn > a {
  color: #FFFFFF;
}

#nav-title {
  color: #00008B;
  font-size: 25px;
  margin: 0 10px;;
}

h1 {
  margin: 15px 0px 0px 20px;
  height: 60px;
  text-align: left;
  color: #00008B;
}

main {
  height: 850px;
  flex-basis: 82%;
}

#first-row {
  margin-top: 100px;
}

#last-row {
  margin-top: 300px;
}

#search-button {
  background-color: #6791a2;
  color: white;
}

.category-name {
  background-color: rgb(224, 255, 255);
  border-radius: 20px;
}

.task-name {
  background-color: rgb(0, 77, 153);
  border-radius: 20px;
  color: white;
}

.priority {
  background-color: rgb(255, 162, 128);
  border-radius: 20px;
  color: white;
}

.time-spent {
  margin-left: 20px;
  background-color: rgb(234, 234, 251);
  border-radius: 20px;
}

.task-card:hover {
  background-color: rgb(0, 0, 139, 0.1);
}

.task-card{
  border-style: solid;
  border-radius: 25px;
  border-color: #8080ff;
  border-width: 2px;
  margin: 10px 0px;
}

.task-header-wrapper {
  padding: 10px;
}

.task-header, .task-body {
  margin:5px 0;
}

.card-buttons {
  width: 15%;
}

.description-body{
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 10px;
}

.container{
  margin: 10px 0px;
}
