<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Time manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="../bootstrap-datepicker/css/bootstrap-datepicker.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/bootstrap-datepicker/js/bootstrap-datepicker.min.js" charset="utf-8 "></script>
  <script type="module" type="text/javascript" src="/javascript/Utils.js"> </script>
  <script type="module" type="text/javascript" src="/javascript/ServerRequest.js"> </script>
  <link rel="stylesheet" href="/bootstrap-datepicker/css/bootstrap-datepicker.css">
  </head>
  <body>

    <div class="container-fluid">
      <!-- sidebar menu-->
      <aside class="nav flex-row">
        <ul class="nav flex-column" >
          <li id="first-row">
            <p id="nav-title">Lists</p>
          </li>
          <li class="nav-item">
            <a class="nav-link not-active a-pending" href="/pending-tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link not-active a-completed" href="/completed-tasks">Completed</a>
          </li>
          <li class="nav-item" id="last-row" >
            <button type="button" class="btn btn-danger" id="logout-btn"><a href="/logout">Logout</a></button>
          </li>
        </ul>
      </aside>

      <main>
        {{{body}}}
      </main>

    </div>
  </body>
</html>
