<div class="card" style="width: 33%">
  <div class="card-body">
    <h1 class="card-title">Sign up</h1>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm password</label>
        <input type="password" class="form-control" id="confirm-password-input" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-success btn-block" id="create-account-button">Create account</button>
    </form>
  </div>
</div>
<script type="module" src="/javascript/signup.js"> </script>
