<div class="card" style="width: 33%">
  <div class="card-body">
    <h1 class="card-title">Congratulations! You're registered</h1>

    <a class="btn btn-primary btn-block" href="/"> Click here to log in</a>
  </div>
</div>
<script src="/javascript/login.js"> </script>
